@import 'modules/senna';
@import 'modules/actualites';
@import 'modules/partenaires';
@import 'modules/emploi';
@import 'modules/index';
@import 'modules/temoignages';
@import 'modules/main';
@import 'modules/profile';
@import 'modules/contact';

body {
	background-color: #FCFCFC;
}
