.rl-close-icon:hover {
	cursor:  pointer;
}
.rl-annonces.rl-annonces.rl-annonces {
	background-color: #ECEFF1;
	box-shadow: 3px 3px 3px grey;
}

.rl-grobouton.rl-grobouton.rl-grobouton {
	box-shadow: 2px 2px 2px #FFFF00;
	margin-bottom: 15px;
}

.rl-modal.rl-modal.rl-modal {
	top: 20%;
}

.rl-titres h1 {
	display:block;
}

.rl-container {
	margin-bottom: 120px;
	margin-top: 60px;
}
.rl-propose.rl-propose.rl-propose {
	box-shadow: 3px 3px 3px grey;
} 
.rl-cherche.rl-cherche.rl-cherche {
	box-shadow: 3px 3px 3px grey;
}

.rl-fermer-modal {
	padding-left: 13px;
}
.rl-bandeau {
	width: 1600px;
	height: 100px;
	padding-top: 30px;
}

