<div class="ui center aligned grid">
	<div class="twelve wide column">
		<h1 tabindex="0" class="header">Formation</h1>

		<div class="ui segments">
			<!-- presentation de general de la formation -->
			<div role="main" tabindex="1" class="ui segment left aligned">
				<h3 role=""class="ui dividing header">La formation Dev à Simplon.co c’est quoi ?</h3>
				<p>Apprendre à créer des sites Internet et des applications web, et en faire son métier
					En intensif, sur un cycle de 6 mois
					Un apprentissage par la pratique, par projets
					Une formation ouverte à tous, et en priorité à des profils encore peu représentés dans le domaine : non-diplômés, demandeurs d’emploi, bénéficiaires de minima sociaux, personnes originaires de quartiers prioritaires, zones rurales, objectif de parité hommes-femmes. Et ce car il n’y a plus besoin d’être ingénieur ou très diplômé pour programmer
					Une formation dont la sélection se fait sur la motivation et l’envie de travailler en équipe !
					Un écosystème riche comprenant une communauté de mentors, de professionnels, des partenaires publics, privés et non-marchands…</p>
				</div>

				<!-- presentation du programme de la formation -->
				<div class="ui segment">
					<div class="ui grid">
						<div class="height wide column">
							<h4 tabindex="0" class="ui dividing header"> Le programme des 6 mois de formation ?</h4>
							<div role="complementary" tabindex="2" aria-atomic="true" aria-live="polite" class="">
								<p>
									Des compétences et des technologies : le développement « front-end » (ce qu’on voit à l’écran, avec HTML, CSS et Javascript), le développement « back-end » (les coulisses, les fonctionnalités), l’administration systèmes (sous Linux), la programmation d’objets connectés, la gestion de projet et la conception d’interfaces
									Des méthodes : méthodologies agiles, pair programming, etc.
									Des outils : Git, Github, Slack, Sublime text, etc.
									Des ouvertures sur d’autres domaines : Sécurité, environnement, intelligence artificielle, consommation collaborative, entrepreneuriat, communication, marketing, … Autant de sujets qui pourront donner lieu à des interventions, sur votre demande notamment.
									Nouveau dès novembre 2015 : possibilité de faire certifier sa formation au travers d’un titre professionnel inscrit au RNCP (Développeur logiciel, niveau III)
								</p>
							</div>
							<div class="ui divider"></div>

							<!-- description des technologies Frontend apprises -->
							<div role="article" tabindex="4" class="block--article__left">
								<h3 role="under_title">Front-End</h3>
								<p>
									Apprendre à créer des sites Internet et des applications web, et en faire son métier
									En intensif, sur un cycle de 6 mois
									Un apprentissage par la pratique, par projets
									Une formation ouverte à tous, et en priorité à des profils encore peu représentés dans le domaine : non-diplômés, demandeurs d’emploi, bénéficiaires de minima sociaux, personnes originaires de quartiers prioritaires, zones rurales, objectif de parité hommes-femmes. Et ce car il n’y a plus besoin d’être ingénieur ou très diplômé pour programmer
									Une formation dont la sélection se fait sur la motivation et l’envie de travailler en équipe !
									Un écosystème riche comprenant une communauté de mentors, de professionnels, des partenaires publics, privés et non-marchands
								</p>
							</div>
						</div>
						<div class="ui vertical divider"></div>
						<div class="eight wide column">
							<!-- image de la promotion 2015-2016 -->
							<div tabindex="3" class="block__img">
								<img class="ui four wide column by-image" src="../img/code.jpg" alt="promo">
							</div>
							<div class="ui divider"></div>
							<!-- description des technologies Backend apprises -->
							<div role="article" tabindex="5" class="block--article__right">
								<h3 role="under_title">Back-End</h3>
								<!--img src="http://vignette3.wikia.nocookie.net/mogapedia/images/f/fb/Mais_oui_c'est_clair_!.jpg/revision/latest?cb=20140410173203&path-prefix=fr"-->
								<p>
									Des compétences et des technologies : le développement « front-end » (ce qu’on voit à l’écran, avec HTML, CSS et Javascript), le développement « back-end » (les coulisses, les fonctionnalités), l’administration systèmes (sous Linux), la programmation d’objets connectés, la gestion de projet et la conception d’interfaces
									Des méthodes : méthodologies agiles, pair programming, etc.
									Des outils : Git, Github, Slack, Sublime text, etc.
									Des ouvertures sur d’autres domaines : Sécurité, environnement, intelligence artificielle, consommation collaborative, entrepreneuriat, communication, marketing, … Autant de sujets qui pourront donner lieu à des interventions, sur votre demande notamment.
									Nouveau dès novembre 2015 : possibilité de faire certifier sa formation au travers d’un titre professionnel inscrit au RNCP (Développeur logiciel, niveau III)
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="ui segment">
					<!-- Presentation des debouches offerts par la formation-->
					<div role="article" tabindex="6" class="block--article__both">
						<h3 role="under_title" class="ui dividing header">La formation Dev à Simplon.co c’est quoi ?</h3>
						<p>
							Apprendre à créer des sites Internet et des applications web, et en faire son métier
							En intensif, sur un cycle de 6 mois
							Un apprentissage par la pratique, par projets
							Une formation ouverte à tous, et en priorité à des profils encore peu représentés dans le domaine : non-diplômés, demandeurs d’emploi, bénéficiaires de minima sociaux, personnes originaires de quartiers prioritaires, zones rurales, objectif de parité hommes-femmes. Et ce car il n’y a plus besoin d’être ingénieur ou très diplômé pour programmer
							Une formation dont la sélection se fait sur la motivation et l’envie de travailler en équipe !
							Un écosystème riche comprenant une communauté de mentors, de professionnels, des partenaires publics, privés et non-marchands…
						</p>
					</div>

				</div>
			</div>
		</div>
	</div>
