<div class="ui container">
  <h1 class="ui center aligned header">Partenaires</h1>
    <div class="ui vertically divided container stackable grid">
      <div class="ui two column row">
        <div class="sixteen wide tablet twelve wide computer column ">
          Simplon.co cherche des partenaires pour soutenir sa consolidation et le développement de son impact social

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.
        </div>
        <div class="eight wide centered tablet four wide computer column ">
          <div class="ui attached segment">
            <p>Vous voulez devenir partenaire de Simplon.co et développer avec nous l'innovation pour tous ?</p>
          </div>
          <a class="huge ui red bottom attached button" tabindex="0" href="mailto:xxxxxxxxx@gmail.com
          ?subject=objet&body=Bonjour" id="partenaire">Join US</a>
        </div>

       
      </div>
   
      <h2 class="ui header">Tous les jours ils font SimplonMIP avec nous
      </h2>
      
      <div class="ui three column row">
        <div class="column">
          <div class="ui centered card ">
            <div style="background:url('img/logos_partenaires/1.png') no-repeat center"class="backgroundPartenaire">
            </div>
            <div class="content">
              <a class="header">partenaire1</a>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui centered card">
            <div style="background:url('img/logos_partenaires/2.png') no-repeat center"class="backgroundPartenaire">
            </div>
            <div class="content">
              <a class="header">partenaire2</a>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui centered card">
            <div style="background:url('img/logos_partenaires/3.png') no-repeat center"class="backgroundPartenaire">
            </div>
            <div class="content">
              <a class="header">partenaire3</a>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam</p>
            </div>
          </div>
        </div>
      </div>  

      <div class="ui two column row">
        <div class="column">
          <div class="ui centered card ">
            <div style="background:url('img/logos_partenaires/4.png') no-repeat center"class="backgroundPartenaire">
            </div>
            <div class="content">
              <a class="header">partenaire1</a>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui centered card">
            <div style="background:url('img/logos_partenaires/5.png') no-repeat center"class="backgroundPartenaire">
            </div>
            <div class="content">
              <a class="header">partenaire2</a>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam</p>
            </div>
          </div>
        </div>
      </div>  
    
  </div>
</div>




     