<div class="container">
<div class="ui equal width center aligned padded grid" id="bandeau">
 <div class="row" "color: #FFFFFF ;height: 400px;">
   <div class="column">
     <img class="ui centered medium image " src="http://lorempicsum.com/futurama/255/200/2" alt="photo_de_profile">
     <h1>{{Prenom}} {{Nom}}</h1>
     <h2>{{occupation}}</h2>
   </div>
 </div>
</div>


<div class="ui vertically divided container stackable grid">
<div class="ui two column row">
  <div class="ui menu projet column" id="profile-bloc-menu">
     <h2 class="ui horizontal divider">Projets en cours</h2>
     <ul>
       <li class="to list_projet"><a class="to link_projet" href="https://github.com/nemo75/mipy-front">Projet simplonMIP</a></li>
       <li class="to list_projet"><a class="link_projet" href="https://github.com/nemo75/mipy-front">Projet simplonMIP</a></li>
       <li class="to list_projet"><a class="link_projet" href="https://github.com/nemo75/mipy-front">Projet simplonMIP</a></li>
       <li class="to list_projet"><a class="link_projet" href="https://github.com/nemo75/mipy-front">Projet simplonMIP</a></li>
     </ul>
  </div>

   <div class="ui vertical menu five wide column">
     <nav>
       <a href"{{linkedin}}" class="item"><i class="linkedin icon"></i>Linkedin</a>
       <a href"{{github}}" class="item"><i class="github alternate icon"></i>Github</a>
       <a href"{{website}}" class="item"><i class="desktop icon"></i>Site perso</a>
     </nav>
   </div>

 <div class=" ui three column centered grid">
   <div class="column ui menu bio container">
     <h2 class="ui horizontal divider ">Biographie</h2>
     <p class="bio_paragraphe">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et tellus aliquam, consequat turpis eu, ullamcorper urna. Morbi ac dapibus ante. Praesent elementum nisi eget turpis venenatis vestibulum. Nam ut rhoncus elit, eu varius nisi. Fusce sem ex, porta vel neque non, maximus rhoncus mi. Proin pellentesque blandit nisi in semper. Fusce suscipit velit vel erat tempor ornare et ut odio. Curabitur rutrum justo ut tincidunt viverra. Aliquam sit amet leo porta, pharetra arcu consectetur, placerat est. Mauris cursus quam lorem, sit amet aliquam orci commodo vitae. Morbi a vehicula sem. Integer scelerisque pulvinar sagittis. Morbi id semper leo, non pharetra eros. Donec pretium, tortor in sodales viverra, justo velit auctor diam, at laoreet lectus enim at turpis. In hac habitasse platea dictumst. Proin vitae velit arcu.</p>
   </div>
    </div>

</div>
</div>
</div>
 
   <!-- <div class=" ui menu projet five wide column">
     <h2 class="ui horizontal divider">Projets en cours</h2>
     <ul>
       <li class="to list_projet"><a class="to link_projet" href="https://github.com/nemo75/mipy-front">Projet simplonMIP</a></li>
       <li class="to list_projet"><a class="link_projet" href="https://github.com/nemo75/mipy-front">Projet simplonMIP</a></li>
       <li class="to list_projet"><a class="link_projet" href="https://github.com/nemo75/mipy-front">Projet simplonMIP</a></li>
       <li class="to list_projet"><a class="link_projet" href="https://github.com/nemo75/mipy-front">Projet simplonMIP</a></li>
     </ul>
   </div>
   <div class="ui vertical menu three wide column">
     <nav>
       <a href"{{linkedin}}" class="item"><i class="linkedin icon"></i>Linkedin</a>
       <a href"{{github}}" class="item"><i class="github alternate icon"></i>Github</a>
       <a href"{{website}}" class="item"><i class="desktop icon"></i>Site perso</a>
     </nav>
   </div>
   </div>
   
    <div class=" ui three column centered grid">
   <div class="column ui menu bio container">
     <h2 class="ui horizontal divider ">Biographie</h2>
     <p class="bio_paragraphe">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et tellus aliquam, consequat turpis eu, ullamcorper urna. Morbi ac dapibus ante. Praesent elementum nisi eget turpis venenatis vestibulum. Nam ut rhoncus elit, eu varius nisi. Fusce sem ex, porta vel neque non, maximus rhoncus mi. Proin pellentesque blandit nisi in semper. Fusce suscipit velit vel erat tempor ornare et ut odio. Curabitur rutrum justo ut tincidunt viverra. Aliquam sit amet leo porta, pharetra arcu consectetur, placerat est. Mauris cursus quam lorem, sit amet aliquam orci commodo vitae. Morbi a vehicula sem. Integer scelerisque pulvinar sagittis. Morbi id semper leo, non pharetra eros. Donec pretium, tortor in sodales viverra, justo velit auctor diam, at laoreet lectus enim at turpis. In hac habitasse platea dictumst. Proin vitae velit arcu.</p>
   </div>
    </div>
   
    -->


